.cabezaso-de-messi-en-champions {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: larger;
}

body {
     background-color: rgb(80, 80, 80);

}

main {
    background-color: darkgrey;
    text-align: center;
}

.titulo {
    background-color: #505050;
    padding: 5px;
    /* (esto lo saque de css portal btw) */
    box-shadow: inset 0px 20px 25px -10px rgb(0, 0, 0);
    /* esto le da un contraste al color rgb */
    border-radius: 90px;
    /* esto cambia el radio del borde */
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    /* color del h1 cominado de azul a rojo */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*para que sea al texto y no el fondo en si */
    

}

.top-3 {
    color: whitesmoke;
    background-color: #757575;
}

.section-1 {
    background-color: rgb(139, 139, 139);
    padding: 5px;

}

.section-2 {
    background-color: rgb(105, 105, 105);
    padding: 5px;
}

.section-3 {
    background-color: rgb(68, 68, 68);
    padding: 5px;
    
}

.messi {
background: linear-gradient(#ff0000, #D712C5);
/* fondo super bonito */
    
}