.cabezaso-de-messi-en-champions {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: larger;
}

body {
   background-color: rgb(80, 80, 80);
}

main {
    background-color: darkgrey;
    text-align: center;
}

.titulo {
    color: whitesmoke;
    background-color: #757575;

}

.top-3 {
    color: whitesmoke;
    background-color: #757575;
}

.section-1 {
    background-color: rgb(199, 199, 199);

}

.section-2 {
    background-color: rgb(105, 105, 105);
}

.section-3 {
    background-color: rgb(68, 68, 68);
    
}

.messi {

}